/*74c69d*/

:root {
  --black: #28282a;
  --green: #40916d;
}

.header {
  border-bottom: 2px solid var(--black);
  background-color: var(--green);
  position: fixed;
  z-index: 3;
  width: 100%;
}

.nav {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: calc(0.75rem + 0.75vw); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(0.3rem + 1vw);
  padding-block-start: min(2rem, 4vh);
  padding-block-end: min(2rem, 4vh);
}

.header-ul {
  display: flex;
  align-items: center;
}

.header-ul li {
  list-style-type: none;
  padding-inline-end: clamp(1.5rem,  6%,   3rem);
}

.link {
  color: var(--black);
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-family: 'Arimo', sans-serif;
  font-weight: 500;
  font-size: calc(0.75rem + 0.75vw);
}

/* .logoFlex {
  display: flex;
  align-items: center;
}

.justify {
  justify-self: center;
} */

/* .link {
  color: var(--black);
  text-decoration: none;
} */