.main {
  padding-top: 10rem;
  height: 100%;
  margin-left: 5rem;
}

.text-cover {
  z-index: 2;
  position: relative;
}

.text-cover p {
  font-size: clamp(0.9em, 0.75rem + 0.5vw, 1.2em);
  font-weight: 400;
}

.main-text {
  letter-spacing: 2px;
  font-weight: 500;
  font-size: calc(5rem + 0.75vw);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(385px,1fr));
  column-gap: 40px;
  padding-inline: 60px;
  /* background-color: #132a13; */
  background-color: #fbf8cc;
}

/* ecf39e */
/* better
#6ebc6e */
.cover {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  /* background-color: #6ebc6e; */
  background-color: #7ad0af;
  color: #132a13;
  margin-bottom: 2rem;
  z-index: 2;
}

.cover:hover {
  background-color: #132a13;
  box-shadow: 0 0 0 4px #6ebc6e;
  color: #6ebc6e;
}

.align {
  grid-column: 1/3;
}