body {
  background-color: #f7f8eb;
  color: #132a13;
}

.main {
  padding-top: 10rem;
  width: calc(60% - 60px);
  margin: 0 auto;
  height: 100vh;
  /* background-color: #132a13; */
}

.heading-text {
  font-size: calc(1.25rem + 0.75vw);
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.p-text {
  margin-bottom: 1.5rem;
}

.m-bottom {
  margin-bottom: 8rem;
  display: inline-block;
}

@media screen and (min-device-width: 320px) and (max-device-width: 699px) {
  .main {
    padding-top: 5rem;
    width: calc(100% - 45px);
  }
}

