body {
  background-color: #99e2b4;
  color: #132a13;
}

.main {
  padding-top: 10rem;
  width: calc(60% - 60px);
  margin: 0 auto;
  height: 100vh;
  /* background-color: #132a13; */
}

.heading-text {
  font-size: calc(1.25rem + 0.75vw);
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.p-text {
  text-align: justify;
}